<tr>
    <td align="center">
        <div class="footer">
            <div class="container footer-content">
                <div class="content">
                    <span class="text text-center d-block">
                       Street, number - Neighborhood
                    </span>
                    <span class="text text-center d-block">
                       Street - zipCode - City - UF Tel: Phone
                    </span>
                    <span class="text text-center d-block">
                        <a href="mailto:contato@sample.br" target="_blank" rel="noopener">contato@sample.br</a>  
                        <span>|</span> 
                         <a href="https://sample.br/" target="_blank" rel="noopener"> sample.br</a>
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>